<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Java Search REST service</display-name>
	<context-param>
        <param-name>jersey.config.server.contentLength.buffer</param-name>
        <param-value>0</param-value>
    </context-param>
 	<servlet>
 	    <servlet-name>java-search-servlet</servlet-name>
 	    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
 	    <init-param>
 	        <param-name>jersey.config.server.provider.packages</param-name>
 	        <param-value>com.upmc.isd.galaxyapi.search</param-value>
 	    </init-param>
 	     <load-on-startup>1</load-on-startup>
 	</servlet>
 	<servlet-mapping>
 	    <servlet-name>java-search-servlet</servlet-name>
 	    <url-pattern>/api/*</url-pattern>
	</servlet-mapping>
</web-app>